body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: 0 auto;
}


header, nav, section, aside, footer{
    background: #ebebeb;
}

article{
    background: #777;
    height:170px;
    padding:5px;
    margin-left:10px;
    margin-right:10px;
}



article p{
    color:#ebebeb;
}

h1,p{
    color: #777;
    /* background: #ebebeb; */
    text-align: center;
}

.dif{
    background: #ebebeb;
    color: #777;
    margin-left:10px;
    margin-right:10px;
    padding: 10px;
    margin-bottom:-5px;
}

header,nav,footer{
    height: 90px;
    width: 960px;
    padding-top: 20px;
    margin:10px;
}

section, aside{
    margin-top: 20px;
    margin-bottom:20px;
    height:250px;
}

section{
    width: 495px;
    float: left;
    margin-left:10px;
}
aside{
    margin-left:18px;
    width: 437px;
    float:right;
    margin-right: -12px;
}

footer{
    clear: both;
}